/*CSS Document*/
* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #EEDD82;
}

h1 {
	font: 60px verdana, arial, tahoma, sans-serif;
	text-align: center;
}

.headerline {
	background-color: #000CFF;
	width: 100%;
	height: 15px;
	padding: 5px;
	display: table;
}
.info{
	width: 900px;
	height: 5px;
	padding:5px;
	margin: 50px 10px 0px 10px;
	
}

.registerclass {
	font: 30px verdana, arial, tahoma, sans-serif;
	width: 600px;
	height: 250px;
	margin: 50px auto;
	padding: 5px;
	border: 4px solid #000;
	box-shadow: 0 2 3px #000CFF;
}

fieldset {
	background-color: #FFF;
	width: 400px;
	height: 200px;
	margin: 100px 40px 100px 910px;
	padding: 10px;
	border: 4px solid #000;
	box-shadow: 0 0 1px #000CFF;
	border-radius: 10px;
}

legend {
	background-color: #E6E8FA;
	border: 2px solid #FFF;
	border-radius: 5px;
	padding: 10px;
	margin-left: 80px;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 0 0 1px #000;
}

label,input[type="text"],input[type="password"] {
	display: block;
}

input[type="text"],input[type="password"] {
	width: 90%;
	height: 25px;
	border: 2px solid #000;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	color: blue;
	background-color: #E6E8FA;
}

input[type="submit"] {
	border: 2px solid #000;
	border-radius: 5px;
	font-size: 20px;
	margin-top: 30px;
}

input[type="submit"]:hover {
	background-color: #8FBC8F;
}

label {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
} 

input:focus {
	border-color: #E6E8FA;
	background-color: #FFF;
}

input:hover {
	border-color: #8FBC8F;
}

p {
	font: 12px verdana, arial, tahoma, sans-serif;
	vertical-align: middle;
	display: table-cell;
}

.error {
	font: 25px verdana, arial, tahoma, sans-serif;
}

.success {
	font: 25px verdana, arial, tahoma, sans-serif;
}

.nameLabel {
	font: 20px verdana, arial, tahoma, sans-serif;
	display: table-cell;
}
