
	
*{ 
	padding: 0;
	margin: 0;
	}
	
	
html {
	background-color: #FFFFFF;
}
	
h1 { 
	font: 60px verdana, arial, tahoma, sans-serif;
	text-align: center;
	}
	
	
#menu {
	background: #FF9900;
	display: table;
	width: 100%;
	}

#menu ul {
	list-style: none;
	}
	
#menu ul li {
		display: inline;
		}
		
#menu ul li a { 
	font: 15px verdana, arial, tahoma, sans-serif;
	font-color: #FFF;
	background-color: #FF9900;
	text-decoration: none;
	color: #000;
	float: left;
	padding: 5px 10px;
	margin-left: 1px;
	}
	
#menu ul li a:hover{ 
	color: orange;
	background: #FFF;
	}
	
body {
    font: 15px verdana, arial, tahoma;
    }
   
.itens { 
	margin: 20px 20px 0; 
	list-style: none;
}

.tab {
	float: left;
}

.itens a {
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    background: blue;
    padding: 5px 15px;
    color: #FFF;
    text-decoration: none;
    }
   
.itens a:focus {
	background: orange;
	}

.aba { 
	padding: 0 20px;
	width: 700px; 
	clear: both;
	position: relative;
	}
	
.aba div {
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: none;
	position: absolute;
    }

.aba div:first-child {
    display: block;
    }
	
.aba div:target {
    display:block;
    }
	
.aba div .target {
    display:block;
    }
    
fieldset {
	background-color: #FFF;
	width: 300px;
	height: 300px;
	margin: 50px auto;
	padding: 10px;
	border: 2px solid #000;
	border-radius: 5px;
	}
	
label, input[type="text"], input[type="number"] {
	display: block;
}

input[type="text"], input[type="number"] {
	width: 90%;
	height: 20px;
	border: 2px solid #CCC;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	color: black;
	background-color: #EEE;
}

input[type="submit"]{
	border: 2px solid #000;
	border-radius: 5px;
	font-size: 20px;
	}
	
label {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
	}