
	
*{ 
	padding: 0;
	margin: 0;
	}
	
	
html {
	background-color: #FFFFFF;
}
	
h1 { 
	font: 60px verdana, arial, tahoma, sans-serif;
	text-align: center;
	}
	
	
#menu {
	background: #FF9900;
	display: table;
	width: 100%;
	}

#menu ul {
	list-style: none;
	}
	
#menu ul li {
		display: inline;
		}
		
#menu ul li a { 
	font: 15px verdana, arial, tahoma, sans-serif;
	font-color: #FFF;
	background-color: #FF9900;
	text-decoration: none;
	color: #000;
	float: left;
	padding: 5px 10px;
	margin-left: 1px;
	}
	
#menu ul li a:hover{ 
	color: orange;
	background: #FFF;
	}
	
