
	
*{ 
	padding: 0;
	margin: 0;
	}
	
	
html {
	background-color: #F5F5F5;
}
	
h1 { 
	font: 60px verdana, arial, tahoma, sans-serif;
	text-align: center;
	}
	
#menu{ 
	  height:37px; 
	  display:block; 
	  padding:0; 
	  margin: 0 auto;  
	  border:1px solid; 
	  border-radius:5px; 
	  } 
#menu > ul {
	        list-style:inside none; 
	        padding:0; 
	        margin:0;
	        } 
#menu > ul > li {
	             list-style:inside none; 
	             padding:0; 
	             margin:0; float:left; 
	             display:block; 
	             position:relative;
	             } 
#menu > ul > li > a{ 
					outline:none; 
					display:block; 
					position:relative; 
					padding:12px 20px; 
					font:bold 13px/100% Arial, Helvetica, sans-serif; 
					text-align:center; 
					text-decoration:none; 
					text-shadow:1px 1px 0 rgba(0,0,0, 0.9); } 
#menu > ul > li:first-child > a{
								border-radius:5px 0 0 5px;
								} 
#menu > ul > li > a:after{ 
						  content:''; 
						  position:absolute; 
						  border-right:1px solid; 
						  top:-1px; 
						  bottom:-1px; 
						  right:-2px; 
						  z-index:99; 
						  } 
#menu ul li.has-sub:hover > a:after{
									top:0; 
									bottom:0;
									} 
#menu > ul > li.has-sub > a:before{ 
								   content:''; 
								   position:absolute; 
								   top:18px; 
								   right:6px; 
								   border:5px solid transparent; 
								   border-top:5px solid #fff; 
								   } 
#menu > ul > li.has-sub:hover > a:before{
										 top:19px;
										 } 
#menu ul li.has-sub:hover > a{ 
							  background:#3f3f3f; 
							  border-color:#3f3f3f; 
							  padding-bottom:13px; 
							  padding-top:13px; 
							  top:-1px; 
							  z-index:999; 
							  } 
#menu ul li.has-sub:hover > ul, #menu ul li.has-sub:hover > div{
																display:block;
																} 
#menu ul li.has-sub > a:hover{
							  background:#3f3f3f; 
							  border-color:#3f3f3f;
							  } 
#menu ul li > ul, #menu ul li > div{ 
								    display:none; 
								    width:auto; 
								    position:absolute; 
								    top:38px; 
								    padding:10px 0; 
								    background:#3f3f3f; 
								    border-radius:0 0 5px 5px; 
								    z-index:999; 
								    } 
#menu ul li > ul{
				 width:200px;
				 } 
#menu ul li > ul li{
					display:block; 
					list-style:inside none; 
					padding:0; 
					margin:0; 
					position:relative;
					} 
#menu ul li > ul li a{ 
					  outline:none; 
					  display:block; 
					  position:relative; 
					  margin:0; 
					  padding:8px 20px; 
					  font:10pt Arial, Helvetica, sans-serif; 
					  color:#fff; 
					  text-decoration:none; 
					  text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 

#menu, #menu > ul > li > ul > li a:hover{ 
										 background:#ff9812; 
										 background:-moz-linear-gradient(top, #ff9812 0%, #e17310 100%); 
										 background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9812), color-stop(100%,#e17310)); 
										 background:-webkit-linear-gradient(top, #ff9812 0%,#e17310 100%); 
										 background:-o-linear-gradient(top, #ff9812 0%,#e17310 100%); 
										 background:-ms-linear-gradient(top, #ff9812 0%,#e17310 100%); 
										 background:linear-gradient(top, #ff9812 0%,#e17310 100%); 
										 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9812', endColorstr='#e17310',GradientType=0); 
										 } 
#menu{
	  border-color:#b05a0d;
	  } 
#menu > ul > li > a{
				    border-right:1px solid #b05a0d; 
				    color:#fff;
				    } 
#menu > ul > li > a:after{
						  border-color:#ffa32b;
						  } 
#menu > ul > li > a:hover{
						  background:#e17310;
						  } 
 

fieldset {
	background-color: #FFF;
	width: 400px;
	height: 250px;
	margin: 100px 40px 100px 740px;
	padding: 5px;
	border: 4px solid #000;
	box-shadow: 0 0 1px #000CFF;
	border-radius: 10px;
}

input[type="submit"]{
	float: left; margin-left:15px;
    margin:10px 55px 10px 0;
    font-weight: bold;
    line-height: 1;
    padding: 6px 10px;
    cursor:pointer;
    color: #fff;
 
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
 
    /* Background gradient */
    background: #a5b8da;
    background: -moz-linear-gradient
       (top, #a5b8da 0%, #7089b3 100%);
    background: -webkit-gradient
       (linear, 0% 0%, 0% 100%,
       from(#a5b8da), to(#7089b3));
 
    /* Border style */
    border: 1px solid #5c6f91;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
 
    /* Box shadow */
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
	}

label {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
	}

.zoiper {
	font: 20px verdana, arial, tahoma, sans-serif;
	display: table-cell;
}
